[Unit]
Description=LMP Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=USER
Group=USER
Type=simple
ExecStart=/path/to/exporter
WorkingDirectory=/path/to

[Install]
WantedBy=multi-user.target
